.card-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 350px;
  color: $color-primary__light-1;
  background-color: $color__dark-2;
  margin: 30px;
  padding: 25px;
  border-radius: 15px;

  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;

    .opacity-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      color: $color__white;
      background-color: $color-primary__light-3;
      opacity: 0;
      transition: all 0.5s ease;
      &:hover {
        opacity: 1;
      }
      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
      }
    }

    .img-header {
      border-radius: 10px;
      width: 100%;
    }
  }

  h2 {
    font-size: 22px;
    color: $color__white;
    font-weight: 600;
    margin: 20px 0;
    &:hover {
      color: $color-primary__light-2;
      cursor: pointer;
    }
  }
  p {
    margin: 20px 0;
    font-weight: 300;
  }

  .notification-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid $color__dark-3;
    margin: 10px 0;
    padding-bottom: 25px;
    font-size: 14px;

    .notification {
      display: flex;
      align-items: center;
      gap: 7px;
    }

    .notification:first-child {
      color: $color-primary__light-2;
    }
  }
  .card-footer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    font-size: 14px;
    img {
      width: 35px;
      border: 1px solid $color__white;
      border-radius: 50%;
    }
    span {
      color: $color__white;
      &:hover {
        color: $color-primary__light-2;
        cursor: pointer;
      }
    }
  }
}
